.createStory {
  border: 2px solid darkseagreen;
  box-shadow: 10px 10px 10px -6px #3c653c;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px;
  color: #487948;
}

.createStory button {
  margin-top: 20px;
  border-radius: 4px;
  padding: 15px;
  background-color: darkseagreen;
  color: white;
  border: none;
  width: 100px;
}

.createStory button:hover {
  background-color: #e5efe5;
  color: darkseagreen;
}

.createStory input {
  width: 100%;
  clear: both;
  padding: 5px;
  border: none;
  border-bottom: 2px solid darkseagreen;
}

.customSelect select {
  text-transform: capitalize;
}
