* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.IndividualRegForm {
  padding: 60px 0;
}

.registration_error {
  color: #fff;
  background: red;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  word-wrap: wrap;
}

.buttonContainer {
  text-align: center;
}
