.comments_list {
  margin: 0;
  color: #487948;
  list-style-type: none;
  text-align: center;
}

.comments_list li {
  border: 2px solid darkseagreen;
  box-shadow: 10px 10px 10px -6px #3c653c;
  border-radius: 25px;
  padding: 10px;
  margin-top: 15px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 5px;
}

.edit-form input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid darkseagreen;
  border-radius: 4px;
  box-sizing: border-box;
  color: #487948;
}

.edit-form label {
  font-size: 1.17em;
  font-weight: bold;
  color: #487948;
}

.edit-story {
  margin-top: 20px;
  border-radius: 4px;
  padding: 15px;
  background-color: darkseagreen;
  color: white;
  border: none;
  width: 100px;
  cursor: pointer;
}

.edit-story:hover {
  background-color: #e5efe5;
  color: darkseagreen;
}

.delete-btn:hover {
  color: red;
}

.delete-btn {
  background-color: red;
  margin-left: 20px;
  font-weight: 900;
}

@media only screen and (min-device-width: 768px) {
  .comments_list {
    max-width: 50%;
    margin: 20px auto;
  }
}

.delete {
  color: #9f5f5f;
  background-color: none;
  border: none;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-around;
}
